{% extends "base.html" %}

{% block title %}Login: thhsparql{% endblock %}

{% block page_content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<H2> SAP Data Intelligence</H2>
    <form method="POST" action="" enctype="multipart/form-data">
    {{ form.csrf_token }}
      <fieldset class="form-field">
      Host/Tenant:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{ form.di_host(size=70) }}
          {{ form.di_tenant }}
    </fieldset>
    <BR>
    <fieldset class="form-field">
      User/Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{ form.di_user }}
          {{ form.di_pwd }}
    </fieldset>
     <fieldset class="form-field">
    {{ form.submit_login }}
     </fieldset>
    </form>
{% endblock %}